html, body {
	background: #432957;
  color: #eee;
	background-image: -moz-linear-gradient(top,#000000,#432957);
  background-repeat: no-repeat;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#000000),to(#432957));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#000000,endColorStr=#432957);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#000000, endColorStr=#432957)";
  font         : 12px/16px Helvetica, sans-serif;
}

a, a:visited {
  color: #03c;
}

a:hover {
  color: #00f;
}

body {
  margin: 0 auto;
  width: 780px;
}

/* nav bar */
#nav {
  padding: 5px 0;
  font-size: 1.3em;
}

#nav > a, #nav > a:hover, #nav > a:visited {
  color: #03c;
  text-decoration     : none;
  display: block;
  float: left;
  padding: 26px 5px;
}

#nav > a:hover {
  color: #03f;
}

#nav > a.selected {
  color: #03f;
}

#nav > #logo {
  padding: 0;
}

#logo img {
  border: 0;
}

#content {
  clear: both;
  margin-top: 75px;
  font: 1.2em/1.3em Helvetica, sans-serif;
  background : rgb(201,220,246);
  text-align : left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  color: black;
  -moz-box-shadow: 0 0 8px #999;
  -webkit-box-shadow: 0 0 8px #999;
  box-shadow: 0 0 8px #999;
}
#content.index {
  padding-bottom: 0;
}

.info,
#donate-pic,
#thumbnail,
#donate {
  background : rgb(70,124,194);
  text-align : left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: black;
  -moz-box-shadow: 0 0 8px #999;
  -webkit-box-shadow: 0 0 8px #999;
  box-shadow: 0 0 8px #999;
  float: right;
  width: 320px;
  margin-bottom: 20px;
}
.info {
  padding: 10px;
  font: 0.8em/1.4em Helvetica, sans-serif;
}
.info h2 {
  text-decoration: none;
  color: #333;
  margin : 0;
  padding: 0;
  font : bold 2em/1.4em Helvetica, sans-serif;
}

#content.index .info {
  float: left;
  width: 285px;
  font : bold 1.2em/1.2em Helvetica,sans-serif;
}
#content.index .info h1 {
  font : bold 1.4em/1.2em Helvetica,sans-serif;
}
#content.index .info img {
  float: left;
}
#content.index .info a {
  text-decoration: none;
}

#counter {
  margin-top: 10px;
  color: #333;
  font : bold 0.9em/1.4em Helvetica, sans-serif;
}

#sidebar {
  margin-left: 20px;
  float: right;
  width: 320px;
  text-align: right;
  padding-bottom: 20px;
}
#content.index #sidebar {
  padding-bottom: 0;
  float: left;
  margin-left: 0;
  margin-right: 20px;
  width: 422px;
}
#content.index #thumbnail {
  width: 422px;
}

#content ul {
  margin: 0;
  padding-left: 25px;
}

#footer {
  text-align          : right;
  font-size           : 8pt;
  margin: 10px 0;
}

h1 {
  color: #333;
  margin : 0;
  padding: 0;
  font : bold 2em/1.4em Helvetica, sans-serif;
}

h2 {
  text-decoration     : underline;
}

.smaller {
  font-size           : 8pt;
}

/* hr styling */
div.hr {
  height              : 15px;
  /*background          : #9BD1FA url('images/hr1.gif') no-repeat scroll left;*/
  padding             : 7px 0px;
}

div.centerHr {
  /*background          : #9BD1FA url('images/hr1.gif') no-repeat scroll center;*/
}

div.padded {
  margin              : 5px 80px;
}

div.hr hr {
  display             : none;
}

#ad {
  text-align: center;
  color: black;
  width: 430px;
  margin: 16px auto 0 auto;
  background: rgb(201,220,246);
  padding: 2px;
  text-align: right;
  font-size: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  float: right;
  -moz-box-shadow: 0 0 8px #999;
  -webkit-box-shadow: 0 0 8px #999;
  box-shadow: 0 0 8px #999;  
  line-height: 10px;
}
#ad-inner {
  background: black;
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 5px;
  margin: 0 auto;
  width: 430px;
  border-spacing: 0;
  padding: 0;
  line-height: 32px;
}

#ad td {
  cursor              : pointer;
  padding: 0;
  border-spacing: 0;
}

#ad td a, #ad td a:hover, #ad td a:visited {
  display             : block;
  color: #03c;
  text-decoration     : none;
  padding             : 5px;
}
#ad td a:hover {
  color: #03f;
}

#ad span {
  font-size: 0.7em;
  color: #999;
}

